::placeholder {
  color: #555;
  font-size: 14px;
}
// .forLabel  {
//   font-size: 20px;
//   width: 100%;
//   text-align: center;
// }
// @media (min-width: 576px){
//   .jumbotron {
//     padding: 2rem 3rem;
//   }
// }

.card {
  margin-bottom: 2rem;
}
 
.card-header {
  font-size: 20px;
  text-align: center;
}