<div class="card">
  <div class="card-header">
    Camera New Info {{cameraIndex + 1}}
  </div>  
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="cameraModel">Camera Make and Model</label>
          <input type="text" autocomplete="off" placeholder="Camera Model" class="form-control" name="cameraModel" 
            [(ngModel)]="camera.model" required (change)="dataChanged()">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="resolution">Resolution</label>
          <select class="form-control" name="resolution" 
            [(ngModel)]="camera.resolutions" required (change)="dataChanged()">
            <option value="undefined" selected disabled>Select resolution</option>
            <option *ngFor="let p of resolutions; let index = index " value="p.resolution ">{{ resolutions[index].resolution }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" >
          <label for="cameraHeight">Height of Camera</label>
          <select class="form-control" name="cameraHeight" 
              [(ngModel)]="camera.height" required (change)="dataChanged()">
            <option value="undefined" selected disabled>Select height of camera</option>
            <option *ngFor="let x of cameraHeights; let index = index" value="x.cameraHeight">{{ cameraHeights[index].cameraHeight }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group" >
          <label for="isRecordedLiveVideo">Is Recorded Video/Live Feed Available</label>
          <select class="form-control" name="isRecordedLiveVideo" 
            [(ngModel)]="camera.isRecordedLiveVideo" required (change)="dataChanged()">
            <option value="undefined" selected disabled>Select Yes/No</option>
            <option value=1>Yes</option>
            <option value=0>No</option>
          </select>
        </div>
      </div>
      <div class="col-md-4" *ngIf="camera.isRecordedLiveVideo == 1">
        <div class="form-group" >
          <label for="RTSP">RTSP</label>
          <input type="text" autocomplete="off" placeholder="RTSP" class="form-control" name="RTSP" 
            [(ngModel)]="camera.rtsp" required (change)="dataChanged()">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="otherDetails">Other Details</label>
          <input type="text" autocomplete="off" placeholder="Camera Model" class="form-control" name="otherDetails" 
            [(ngModel)]="camera.otherDetails" required (change)="dataChanged()">
        </div>
      </div>
    </div>
  </div>  
</div>