<!-- <div [@routerTransition]> -->
  <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->

    <table class="print-page">
      <thead><tr><td>
        <div class="header-space">&nbsp;</div>
      </td></tr></thead>
      <tbody><tr><td>
          <div class="main-content">
              <div class="letter-head-page" >
                  <div class="content">
                    <div class="mainTitle">
                      <span>PoC Pre-requisite Document</span>
                    </div>
                      <div class="font-size content-body">
                          <span>Dear <b>{{pocData.customerName}},</b></span><br><br>
                          <span>Greetings from Awiros!</span><br><br>
                          <p>
                            As part of our engagement with your company in collaboration with <b>{{pocData.partnerName}}</b> we shall be conducting a Proof-of-Concept (PoC) project on your premises located in <b>{{pocData.pocLocation}}</b> for the following apps:
                          </p>
                          <ol>  
                            <li *ngFor="let apps of pocData.usedCase" style="padding-left:1em">
                              {{ apps.itemName }}
                            </li>
                          </ol>
                          <span>The tentative start date for the project is <b>{{pocData.tentativeStartDate | date }}.</b> </span>
                          <p>
                            The PoC shall be conducted for a duration of <b>{{pocData.dayForPOC }}</b> days, from <b>{{pocData.tentativeStartDate | date }} </b> to <b> {{pocData.endDate | date }} </b> on <b>{{pocData.pocCameras}} </b> camera.
                          </p>
                          <span>The specifications of the cameras are as under:</span><br><br>
                        
                          <div class="row" class="tableDesign" >
                              <div class="panel panel-default">
                                <div class="panel-heading" >Specifications of Cameras</div>
                                <table class="table " *ngIf="pocData && pocData.usedCase">
                                  <thead>
                                    <tr>
                                      <th width="7%">S. No.</th>
                                      <th width="11%">Model</th>
                                      <th width="16%">Resolution</th>
                                      <th width="13%">Camera Height</th>
                                      <th width="29%">RTSP</th>
                                      <th width="24%">Other information</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let camera of pocData.cameras; let i = index">
                                      <td width="7%">{{i+1}}</td>
                                      <td width="11%">{{camera.model}}</td>
                                      <td width="16%">{{camera.resolutions}}</td>
                                      <td width="13%">{{camera.height}}</td>
                                      <td width="29%">{{camera.rtsp && camera.rtsp || "-"}}</td>
                                      <td width="24%">{{camera.otherDetails}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>    
                          </div>
                        
                          <p>
                            The neccessary hardware for the project (viz.server, cables, etc.) shall be provided by <b>{{pocData.hardwareProvidedBy}}</b>. The specifications of the server  are as under:
                          </p>
                        
                          <p>Server Config- <b>{{pocData.serverConfig}},</b> CPU Required-<b> {{pocData.cpuRequired}}, </b>OS- <b>{{pocData.osSupported}},</b> Storage- <b>{{pocData.storageRequirements}},</b> RAM-<b> {{pocData.ram}},</b> GPU- <b>{{pocData.gpuRequired}}.</b></p>
                        
                          <p>
                            The accuracy level and user acceptance  for each of the above mentioned apps are as under:
                          </p>
                          
                          <div class="row" class="tableDesign" > 
                            <div class="panel panel-default">
                              <div class="panel-heading" >Accuracy of Apps</div>
                              <table class="table " *ngIf="pocData && pocData.usedCase">
                                <thead>
                                  <tr>
                                    <th width="10%">S. No.</th>
                                    <th width="30%">Apps Name</th>
                                    <th width="30%">Accuracy</th>
                                    <th width="30%">User Acceptance (± x%)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let apps of pocData.usedCase;let i = index" >
                                    <td width="10%">{{i+1}}</td>
                                    <td width="30%">{{apps.itemName}}</td>
                                    <td width="30%">{{apps.accuracy && apps.accuracy || '-'}}</td>
                                    <td width="30%">{{apps.value}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>    
                          </div>
                          <p>
                            A detailed report about the performance of each of the apps shall be shared with you post the completion of the PoC.
                          </p>
                          <div style="text-align:center">
                            <table class="table">
                                <tr>
                                  <td>Signing Authority</td>
                                  <td>Signing Authority</td>
                                  <td>Signing Authority</td>
                                </tr>
                                <tr style="font-weight:bold">
                                  <td>{{pocData.signingAuthOEM}}</td>
                                  <td>{{pocData.signingAuthPartner}}</td>
                                  <td>{{pocData.signingAuthCustomer}}</td>
                                </tr>
                                <tr >
                                  <td>For OEM</td>
                                  <td>For Partner</td>
                                  <td>For Customer</td>
                                </tr>
                              </table>
                          </div>
      
                          
                      </div> 
                  </div>
              </div>
          </div>
        </td></tr></tbody>
        <tfoot><tr><td>
          <div class="footer-space">&nbsp;</div>
        </td></tr></tfoot>
    </table>
    <div class="print-header"></div>  
    <div class="print-footer"></div>
  

<!-- </div> -->