@media print {
  * {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
  }

  //.letter-head-page {
    // -webkit-print-color-adjust: exact;
    // width: 21cm;
    // height: 29.7cm;
    // background-size: cover !important;
    // background-position: left 0 bottom 0 !important;		
    // background-repeat: repeat;
    // background-attachment:fixed;
//}

  
}

.print-header, .header-space {
height: 115px;
}   

.print-footer, .footer-space {
height: 50px;
}

.print-page thead td {
padding-bottom: 10px;
}

.print-header {
background-image: url("../../../../assets/images/letter-head-header.jpg") !important;
background-size: cover !important;
position: fixed;
top: 0;
width: 21cm;
// padding-bottom: 10px;
}
.print-footer {
position: fixed;
background-image: url("../../../../assets/images/letter-head-footer.jpg") !important;
background-size: cover !important;
bottom: 0;
width: 21cm;
}

.content-body > * {
page-break-inside:avoid; 
page-break-after:auto;
}


.main-content {
padding: 10px 0px;
}

.letter-head-page {  
width: 21cm;
height: 29.7cm;

}

//bold font
ol {
  font-weight:bold;
}

.panel-heading{
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 18px;
height: 300px;
margin: -14px 0px;
}

.font-size{
  font-size: 19px;
}

table {
width: 100%;
table-layout:fixed;

}

td {
word-wrap:break-word;
}

