<!-- <div [@routerTransition]> -->
  

  <div class="container">
    <div>
      <div  id="wellDesign">
          <div class="mainTitle">
              <span>PoC Pre-requisite Document</span>
          </div>
      </div>
      
      <form class="poc-form"  name='form' #pocForm="ngForm"> 
        <!-- <div class="jumbotron"> 
          <label for="customerInfo" class="forLabel">Customer Info</label>
  
          <div class="row">
            <div class="col-md-4" >
              <div class="">
                <label for="customerNam">Name of customer<span class="required"> *</span></label>
                <input type="text" autocomplete="off" placeholder="Customer Name" class="form-control" name="customerNam" 
                  [(ngModel)]="pocData.customerName" required>
              
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="alterEgo">Used Case<span class="required"> *</span></label>         
                <angular2-multiselect [data]="itemList" [(ngModel)]="pocData.usedCase" 
                [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" 
                  name="usedCase">
                </angular2-multiselect>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="dayForPOC">No. of Days for POC</label>
                <select class="form-control" autocomplete="off" name="dayForPOC" 
                   [(ngModel)]="pocData.dayForPOC" required>
                  <option value="undefined" selected disabled>Select days</option>
                  <option *ngFor="let p of daysForPOC;let index=index" value="p.daysOfPOC">
                    {{ daysForPOC[index].daysOfPOC }}
                  </option>
                </select>
              </div>
            </div>  
          </div>
  
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="startDate">Tentative Start Date</label>
                <input type="text" autocomplete="off" class="form-control" name="startDate" 
                  [(ngModel)]="pocData.tentativeStartDate" [bsConfig]="{containerClass:'theme-dark-blue'}" bsDatepicker  placeholder="Select Tentative start date" required>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-group">
                <label for="pocLocation">POC Location</label>
                <input type="text" autocomplete="off" placeholder="POC Location" class="form-control" name="pocLocation"
                  [(ngModel)]="pocData.pocLocation" required>          
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group">
                <label for="travelRequired">Travel Required</label>
                <select class="form-control" name="travelRequired" 
                   [(ngModel)]="pocData.travelRequired" required>
                  <option value="undefined" selected disabled>Select Yes/No</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select> 
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-4">
                <label for="numberOfdaysTravel">No. of days Travel</label>
                <select class="form-control" name="numberOfdaysTravel"
                   [(ngModel)]="pocData.numberOfdaysTravel" required>
                  <option value="undefined" selected disabled>Select days</option>
                  <option *ngFor="let p of daysTravel;let i = index" value="p.daysTravel">{{ daysTravel[i].daysTravel }}</option>
                </select>
              </div>
          </div>
        </div> -->

        <div class="card">
          <div class="card-header" >
            Customer Info 
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4" >
                <div class="">
                  <label for="customerNam">Name of customer<span class="required"> *</span></label>
                  <input type="text" autocomplete="off" placeholder="Customer Name" class="form-control" name="customerNam" 
                    [(ngModel)]="pocData.customerName" required>
                
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alterEgo">Used Case<span class="required"> *</span></label>         
                  <angular2-multiselect [data]="itemList" [(ngModel)]="pocData.usedCase" 
                  [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" 
                    name="usedCase">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dayForPOC">No. of Days for POC</label>
                  <select class="form-control" autocomplete="off" name="dayForPOC" 
                     [(ngModel)]="pocData.dayForPOC" required>
                    <option value="undefined" selected disabled>Select days</option>
                    <option *ngFor="let p of daysForPOC;let index=index" value="p.daysOfPOC">
                      {{ daysForPOC[index].daysOfPOC }}
                    </option>
                  </select>
                </div>
              </div>  
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">Tentative Start Date</label>
                  <input type="text" autocomplete="off" class="form-control" name="startDate" 
                    [(ngModel)]="pocData.tentativeStartDate" [bsConfig]="{containerClass:'theme-dark-blue'}" bsDatepicker  placeholder="Select Tentative start date" required>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="form-group">
                  <label for="pocLocation">POC Location</label>
                  <input type="text" autocomplete="off" placeholder="POC Location" class="form-control" name="pocLocation"
                    [(ngModel)]="pocData.pocLocation" required>          
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label for="travelRequired">Travel Required</label>
                  <select class="form-control" name="travelRequired" 
                     [(ngModel)]="pocData.travelRequired" required>
                    <option value="undefined" selected disabled>Select Yes/No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select> 
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-4">
                <!-- <div class="form-group" *ngIf="pocData.travelRequired == 'Yes'"> -->
                  <label for="numberOfdaysTravel">No. of days Travel</label>
                  <select class="form-control" name="numberOfdaysTravel"
                     [(ngModel)]="pocData.numberOfdaysTravel" required>
                    <option value="undefined" selected disabled>Select days</option>
                    <option *ngFor="let p of daysTravel;let i = index" value="p.daysTravel">{{ daysTravel[i].daysTravel }}</option>
                  </select>
                </div>
            </div>

          </div>
        </div>
          
        <!-- </div> -->
  
        <div class="card">
          <div class="card-header" >
            Partner Info
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="partnerName">Partner Name</label>
                  <input type="text" autocomplete="off" placeholder="Partner Name" class="form-control" name="partnerName" 
                    [(ngModel)]="pocData.partnerName" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="partnerSPOC">Partner SPOC</label>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Partner SPOC" name="partnerSPOC" 
                    [(ngModel)]="pocData.partnerSPOC" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="spocNumber">SPOC Number</label>
                  <input type="number" autocomplete="off" placeholder="SPOC Number" class="form-control" name="spocNumber" 
                    [(ngModel)]="pocData.spocNumber" required>
                    
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="hardwareProvidedBy">Hardware will be provided by</label>
                  <select class="form-control" name="hardwareProvidedBy" 
                    [(ngModel)]="pocData.hardwareProvidedBy" required>
                    <option value="undefined" selected disabled>Select</option>
                    <option value='Awiros'>Awiros</option>
                    <option value='Partner'>Partner</option>
                    <option value='Customer'>Customer</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="pocCameras">No. of POC Cameras</label>
                  <input type="number" autocomplete="off" placeholder="Select NO. of Camera" class="form-control" name="pocCameras" 
                  value="0" [(ngModel)]="pocData.pocCameras" (ngModelChange)="showCameraSections()" required [range]="[1, 20]">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="pocData.pocCameras != null ">
          <div *ngFor="let camera of tmpIndexArray">
            <app-camera-info [cameraIndex]="camera" (getSearchStatusChange)="myCrazyCallback($event)"></app-camera-info>
          </div>
        </div>
  
        <div class='card'>
          <div class="card-header">
              PoC Hardware Information on Premises Deployment
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="serverConfigs">Server Configuration</label>
                  <input type="text" autocomplete="off" placeholder="Server Configuration" class="form-control" name="serverConfigs" 
                    [(ngModel)]="pocData.serverConfig" required>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cpuRequire">CPU Required</label>
                  <input type="text" autocomplete="off" placeholder="CPU Required" class="form-control" name="cpuRequire" 
                    [(ngModel)]="pocData.cpuRequired" required>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label for="os">Operating System Supported</label>
                  <input type="text" autocomplete="off" placeholder="OS Required" class="form-control" name="os" 
                    [(ngModel)]="pocData.osSupported" required>
                </div>
              </div>
            </div> 
          
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="storageRequirement">Storage Requirement</label>
                  <input type="text" autocomplete="off" placeholder="Storage Requirement" class="form-control" name="storageRequirement" 
                    [(ngModel)]="pocData.storageRequirements" required>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label for="ramRequire">RAM</label>
                  <input type="text" autocomplete="off" placeholder="RAM Required" class="form-control" name="ramRequire" 
                    [(ngModel)]="pocData.ram" required>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <label for="gpuRequire">GPU Required</label>
                  <input type="text" autocomplete="off" placeholder="GPU Required" class="form-control" name="gpuRequire" 
                    [(ngModel)]="pocData.gpuRequired" required>
                </div>
              </div>
            </div>
          </div>  
        </div>
        
        <div class='card'>
          <div class="card-header">
            POC Site Info
          </div>
          <div class="card-body">  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="typeOfSite">Type of Site</label>
                  <select class="form-control" name="typeOfSite" [(ngModel)]="pocData.typeOfSite" required>
                    <option value="undefined" selected disabled>Select Indoor/Outdoor</option>
                    <option value='Indoor'>Indoor</option>
                    <option value='Outdoor'>Outdoor</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="isLuxProper">Is Lux Proper?</label>
                  <select class="form-control" name="isLuxProper" [(ngModel)]="pocData.isLuxProper" required>
                    <option value="undefined" selected disabled>Select Yes/No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group" >
                  <label for="internetAvailable">Internet Available?</label>
                  <select class="form-control" name="internetAvailable" 
                      [(ngModel)]="pocData.internetAvailable" required>
                    <option value="undefined" selected disabled>Select Yes/No</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">    
            <button type="button" class="btn btn-success" (click)="moveToViewPage()" [disabled]="!pocForm.form.valid">Submit</button>
            <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
          </div>  
        </div>

       </form>
    </div>
  </div>
  
  
  
  <!-- <button type="button" class="btn btn-success" (click)="moveToViewPage()" >Submit</button>
  <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button> -->
  
    
 

<!-- </div> -->