// @import "angular2-multiselect-dropdown/themes/default.theme.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

// @media (min-width: 576px){
//   .jumbotron {
//     padding: 2rem 3rem;
//   }
// }


::placeholder {
  color: #555;
  font-size: 14px;
}





.poc-form .form-group .alert-danger {
  border: 0;
  background: none;
  padding: 10px 0;
}

.poc-form .poc-select div.c-btn{
  min-height: 34px;
  font-size: 14px;
}

.poc-form .poc-select div.c-btn:focus{
  outline: none;
}

// .forLabel  {
//   font-size: 20px;
//   width: 100%;
//   text-align: center;
// }



.required {
  color: red;
}

/* button-style */
.btn {
  margin-right:16px;
}

.btn-success{
  min-width:200px;
  font-size: 17px;
  background-color: #4CAF50;
}
.btn-danger{
  min-width:200px;
  font-size:17px;  
}

.container {
  padding-bottom: 30px;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  font-size: 20px;
  text-align: center;
}


.mainTitle {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 37px 10px; 
  
}

#wellDesign {
  margin: 40px 237px;
  padding: 1px;
  background-color: #f7f7f7;
}

