/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@import "angular2-multiselect-dropdown/themes/default.theme.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';


@media print {
    .breadcrumb {
        display: none !important;
    }
}
