 <div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Welcome to Awiros</h1>
            <form role="form" name='form' #signUpForm="ngForm" (ngSubmit)='signUpForm.form.valid && onSubmit()' novalidate [mustMatch]="['password', 'confirmPassword']">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }}" name='fullName'  [(ngModel)]="signUpDetails.fullName" #fullName="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && fullName.invalid }" required>
                        <div *ngIf="signUpForm.submitted && fullName.invalid" class="invalid-feedback">
                            <div *ngIf="fullName.errors['required']">First Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}" name='email'  [(ngModel)]="signUpDetails.email" #email="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && email.invalid }" required email>
                        <div *ngIf="signUpForm.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['email']">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}" name='password'  [(ngModel)]="signUpDetails.password" #password="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && password.invalid }" required >
                        <div *ngIf="signUpForm.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors['required']">Password is required</div>
                            <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Confirm Password' | translate }}" name='confirmPassword'  [(ngModel)]="signUpDetails.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted && confirmPassword.invalid }" required >
                        <div *ngIf="signUpForm.submitted && confirmPassword.invalid" class="invalid-feedback">
                            <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
                            <div *ngIf="confirmPassword.errors['mustMatch']">Passwords must match</div>
                        </div>
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a> -->
                <button type="submit" class="btn rounded-btn"   >{{ 'Sign Up' | translate }}</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div> 


