agm-map{
  height: 400px;
  // width: 500px;
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}