<!-- <div [@routerTransition]> -->
  <!-- <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->

  <div class="container">
    <form class="poc-form"  name='form' #pocForm="ngForm">
      
      <div class="card mb-3">
        <div class="card-header">Success Criteria</div>
        <div class="card-body table-responsive" class="form-group">
            <table class="table  table-striped">
              <thead>
                <tr>
                  <th>Apps Name</th>
                  <th>Accuracy</th>
                  <th>User Acceptance (± x%)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let apps of pocData.usedCase">
                  <td>{{apps.itemName}}</td>
                  <td>{{apps.accuracy && apps.accuracy || '-'}}</td>
                  <td>
                    <input type="number" class="form-control" size="45" name="{{'value-'+apps.id}}" [(ngModel)]="apps.value">
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  
      <div class='card'>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="criteriaDetail">Criteria In Details</label>
                <input autocomplete="off" type="text" class="form-control" name="criteriaDetail" 
                  [(ngModel)]="pocData.criteriaInDetail" required>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="signingAuthOEM">Signing Authority</label>
                <input autocomplete="off" type="text" class="form-control" name="signingAuthOEM" 
                  [(ngModel)]="pocData.signingAuthOEM" required>
                  <label for="signingAuthOEM">OEM</label>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="form-group">
                <label for="signingAuthPartner">Signing Authority</label>
                <input autocomplete="off" type="text" class="form-control" name="signingAuthPartner" 
                  [(ngModel)]="pocData.signingAuthPartner" required>
                  <label for="signingAuthOEM">Partner</label>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="form-group">
                <label for="signingAuthCustomer">Signing Authority</label>
                <input autocomplete="off" type="text" class="form-control" name="signingAuth" 
                  [(ngModel)]="pocData.signingAuthCustomer" required>
                  <label for="signingAuthOEM">Customer</label>
              </div>
            </div>
          </div>  
  
          <div>
            <label for="checkbox">
                <input type="checkbox" name="checkbox" value="check" [(ngModel)]="pocData.selected" required>
                I have read and agree to the Terms and Conditions and Privacy Policy
            </label>
          </div>
        </div>  
          <div class="card-footer">
            <div class="row">
              <button class="btn btn-success" type='button' (click)="goToPrintPage()" [disabled]="!pocForm.form.valid"  ><span class="glyphicon glyphicon-print"></span>&nbsp; Print
              </button>
              <button class="btn btn-success" type='button' [disabled]="!pocForm.form.valid">      generate comfirmation link
              </button>
            </div>
          </div>    
      </div>

      
    </form>
    
    
  </div>


<!-- </div> -->